<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Gift from PHASEZERO</title>
  </head>
  <body>
    <div
      style='font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2'
    >
      <div style='margin:50px auto;width:70%;padding:20px 0'>
        <div style='border-bottom:1px solid #eee'>
          <a
            href=''
            style='font-size:1.4em;color: #000000;text-decoration:none;font-weight:600'
          >PHASEZERO</a>
        </div>
        <p style='font-size:1.1em'>Hello there, {{name}}</p>
        <p>We wanted to say thank you for being part of our mystery box giveaway offer. As promised,
          To show our appreciation, we're offering an exclusive promo code to all our participants.
          But here's the catch—the promo code is only valid for ONE WEEK, so act fast and make sure
          you're ready to take advantage of this amazing offer! Ready for the promo code? Drumroll
          please...</p>
        <h2
          style='background:#000000;margin: 0 auto;width: 50%;padding: 0 10px;color: #fff;border-radius: 4px;text-align:center'
        >{{otp}}</h2>
        <p>Plus, we have some exciting new items that you won't find anywhere else. From sleek Day
          to Day hoodie, full sleeve polo perfect for these days, to classic retro windbreakers,
          you're sure to find something that will fit perfectly into your life. We know not everyone
          reads all this mail so the ones who made it up-to here we have one more gift for you
          that’s lining up send us a heart emoji reply and get a free delivery on your order.</p>
        <p>Remember, this promo code is only available for ONE WEEK, so don't wait. Act now to avoid
          FOMO (Fear of Missing Out) on this special offer.</p>
        <p>Shop today and treat yourself to the things you want at prices you'll love.</p>
        <p>Hope to see you at the checkout!</p>
        <p style='font-size:0.9em;'>Best Regards,<br />
          <span style='color: #aaa'>Phasezero</span>
          <br />
          <span style='color: #aaa'>Made in mind</span>
          <br />
          <a style='color: #aaa' href='www.phasezeroclothing.com'>www.phasezeroclothing.com</a>
        </p>
        <hr style='border:none;border-top:1px solid #eee' />
      </div>
    </div>
  </body>
</html>